.BG {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 50px;
  text-align: center;

  h1 {
    text-shadow: 27px 20px 4px black;
  }
}

.items {
  margin-left: 30px;
}
.btnTea{
  text-align: center;
  border-radius: 20px;
  //margin-left: 20px;
  padding: 5px 5px 5px 5px;
  color: white;
  background-color: #282936;
  font-size: 12px;
}
.item {
  align-items: center;
  display: flex;
  margin-top: 50px;

  p {
    font-size: 16px;
    max-width: 700px;
    border-bottom: 1px solid #d97c67;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 20px;
  }

  img {
    margin-right: 50px;
    max-width: 700px;
    border-radius: 20px;
    max-height: 500px;
  }
}

.product {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 4fr 1fr;
  padding-top: 10px;
  cursor: pointer;
}
