.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  color: white;
  overflow: hidden;

  h1 {
    color: white;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 25%;
  }
}

.price {
  padding-right: 20px;
  padding-left: 20px;
}

.info {
  height: 500px;
  z-index: 20;
  position: absolute;
  top: 75px;
  right: 15%;
  width: 35%;
  overflow-y: scroll;
  color: #282936;
  border-bottom: 5px solid #282936;
  border-left: 5px solid #282936;
  padding-bottom: 30px;

  ::-webkit-scrollbar {
    background-color: #282936;
    width: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: #d97c67;
    border-radius: 40px;
  }
}

.imgBG {
  position: absolute;
  top: 0;
  background-color: #282936;
  height: 10vh;
  content: "";
  width: 58.5%;
  right: 0;
}

.wrapper {
  display: flex;
  justify-content: center;

}

.orders {

}
.order{
display: grid;
  grid-template-areas: 'a b c';
  grid-template-columns: 5fr 2fr 1fr;
  img {
    width: 20px;
      grid-area: c;
    transform: translateY(100%);
  }
  p{
    grid-area: a;
    text-align: start;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 16px;
    span{
      padding-left: 10px;
    }
  }
  .price{
    grid-area: b;
  }
}

.total {
  //border-bottom: 2px solid #d97c67;
  font-size: 16px;
  padding-top: 50px;
  position: absolute;
  bottom: 4%;
  right: 35%;
  color: #282936;

  span {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .imgBG {
    width: 100%;
  }
  .info {
    top: 74px;
    width: 100%;
    background-color: white;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .container {
    h1 {
      right: 30%;
    }
  }
  .total {
    bottom: 13%;
    color: white;
    font-size: 20px;
    left: 5%;
  }
}