.container {
  text-align: center;
}

.BG {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 50px;
  text-align: center;
  h1{
    text-shadow: 27px 20px 4px black;
  }
}

.title{
  display: flex;
  justify-content: center;
  border-top: 2px solid #d97c67;
  h1{
    font-family: 'Pinyon Script', cursive;
    font-weight: 400;
  }
  span{
    padding-top: 10px;
    padding-left: 10px;
  }
  padding-top: 40px;
  padding-bottom: 50px;
}
.item{
  cursor: pointer;
  padding-top: 20px;
  font-size: 16px;
  display: grid;
  grid-template-areas: 'a b c d';
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.Fonts{
  font-family: 'Pinyon Script', cursive;
  bottom: 20%;
  font-size: 70px;
  right: -8%;
  font-weight: 500;
  z-index: 5;
  max-width: 300px;

}
.openItem{
  grid-area: b;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #282936;
  padding: 5px;
  color: white;
  text-align: center;
}

.weight{
  grid-area: c;
}
.name{
  grid-area: a;
  text-align: start;
}

.price{
  grid-area: d;
}
.items{
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}
.img{
  display: block;
  height: 300px;
  position: relative;
}
.Fonts,
.wineCircle{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin:  0 auto;
}

.wineCircle{
  z-index: 3;
  width: 400px;
  bottom: -20%;
}

