.wrapper {
    text-align: center;
    font-weight: 400;
}
.maneTitle{
    position: fixed;
    background-image: linear-gradient(to top, rgba(32, 33, 36, 0), #282936);
    color: white;
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.item{
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 12px 7px 13px;
    transition: all 0.5s;
}

.items{
    display: grid;
    grid-template-areas: 'a b c';
padding: 50px 70px;
    margin-bottom: 50px;
    height: 100vh;
}

.item:hover{
    box-shadow: 16px 14px 11px;
    transform: translateY(-6%);
}
.description{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0;
    align-items: center;
}
.title{
    padding: 0 10px;
    font-size: 16px;
}
.cost{
    padding-right: 10px;
}

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 150px
}
@media screen and (max-width: 1440px) {
    .items {
        grid-template-areas: 'a b';
    }
}

@media screen and (max-width: 970px) {
    .items {
        display: block;
        padding-left: 130px;
        padding-right: 130px;
        width: 100%;
    }
    .item{
        max-width: 100%;
    }
    .img{
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    .items {
        padding-left: 20px;
        padding-right: 20px;
    }
}
