.container {
  overflow: hidden;
}

.title {
  text-align: center;
  background-color: white;

  p {
    padding: 30px 50px;
  }

  h1 {
    padding-top: 20px;
  }
}

.overlay {
  content: "";
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  height: 40vh;
  opacity: 0.7;
}

.trues {
  padding-top: 20px;
}

.Sheff {
  padding: 30px 150px;
  display: flex;
  justify-content: end;
  color: white;
  background-color: #282936;

  p {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    max-width: 900px;
    padding-left: 30px;
  }

  img {
    border-radius: 50%;
    margin-left: 100px;
    width: 150px;
    height: 150px;
  }

  .quotes {
    width: 10px;

  }
}

.Bar {
  padding: 30px;
  display: flex;
  justify-content: start;
  color: white;
  background-color: #282936;

  img {
    border-radius: 50%;
    width: 150px;
  }

  p {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    max-width: 900px;
    padding-left: 30px;
  }
}

.Wine {
  background-color: white;
  height: 500px;
}

.solaia {
  position: relative;

  h1 {
    padding-left: 30px;
    color: #d97c67;
    font-size: 100px;
  }

  img {
    border-bottom: 2px solid #d97c67;
    width: 180px;
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  p {
    width: 80%;
    padding: 30px;
    font-size: 16px;
  }
}

.solaiaDescription {
  display: flex;
}

.KoravinInfo,
.EggInfo {
  position: absolute;
  margin-left: 20px;
}

.KoravinTitle,
.EggTitle {
  padding-bottom: 30px;
}

.mapInfo {
  font-size: 16px;
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;

  iframe {
    max-width: 600px;
    width: 100%;
    height: 300px;
    border: 2px solid #282936;
    border-radius: 20px;
  }
}

.mapDescription {
  padding-right: 20px;
}

.logos {
  padding-top: 30px;

  .logoRepino {
    width: 100px;
  }

  .logoOasis {
    width: 350px;
  }
}

.payEat {
  display: flex;
  justify-content: start;
  padding-top: 30px;

  .jcb,
  .visa {
    margin-right: 20px;
    margin-left: 20px;
  }

  img {
    width: 30px;
  }
}
@media (max-width: 1350px) {
  .solaia {
    img {
      width: 170px;
    }
    p {
      width: 78%;
      font-size: 16px;
    }
  }
}
@media (max-width: 1200px) {
  .Sheff {
    padding: 30px;
  }
}
@media (max-width: 1130px) {
  .solaia {
    img {
      right: 0;
    }
  }
  .payEat {
    margin-left: 30px;
  }
  .logos {
    margin-right: 20px;
    margin-left: 20px;
  }
  .logoOasis {
    width: 250px !important;
  }
  .logoRepino {
    width: 200px !important;
  }
  .mapInfo {
    padding-bottom: 100px;
  }
}

@media (max-width: 900px) {
  .solaia {
    img {
      right: 0;
    }
  }
  .Sheff {
    padding: 0 30px;
    text-align: center;
    display: block;
    p {
      font-size: 14px;
      padding-left: 0;
      padding-top: 20px;
    }
    img {
      margin-top: 20px;
      margin-left: 0;
    }

    .quotes {
      width: 10px;

    }
  }

}

@media (max-width: 740px) {
  .title {
    p {
      font-size: 14px;
    }
  }
  .solaia {
    p {
      width: 75%;
      font-size: 14px;
    }
  }
  .mapInfo {
    display: block;
    text-align: center;
  }
  .payEat {
    justify-content: center;
    margin-bottom: 20px;
  }
  .logos {
    margin-right: 20px;
    margin-left: 20px;
  }

}
@media (max-width: 610px) {
  .Bar {
    text-align: center;
    padding: 20px;
    display: block;
    img {
      border-radius: 50%;
      width: 150px;
    }

    p {
      font-size: 14px;
      max-width: 100%;
      padding-left: 0;
    }
  }
}
@media (max-width: 540px) {
  .solaiaDescription {
    display: block;
  }
  .solaia {
    p {
      width: 100%;
      padding: 20px;
    }
    img{
      width: 180px;
      position: inherit;
      right: 0;
    }
  }
}

@media (max-width: 500px) {
  .title {
    h1 {
      font-size: 30px;
    }
    h2{
      font-size: 16px;
    }
  }
  .solaia {
    h1{
      font-size: 70px;
    }
  }
}
