.Wrapper h1{
    color: white;
}

.groupsTitle{
    color: white;
    font-size: 20px;
    padding-right: 20px;
}

.titlesItaly span{
    color: #d97c67;
    font-size: 20px;
}
.titlesItaly{
    display: flex;
    position: absolute;
    left: -140px;
    bottom: 170px;
    text-align: left;
    transform: rotate(-90deg);
    font-weight:400;
}
.titleGroups{
    margin-left: 30px;
}

.titleOasis{
    text-align: center;
    position: relative;
}
.titleOasis img{
    margin-top: 250px;
    width: 300px;
    height: 110px;
}


.madeTitle{
    font-size: 20px;
    color: white;
    position: relative;
    padding-right: 20px;
}
.titleOasis{
    left: -20%;
}