.groupsTitle {
  color: white;
  font-size: 20px;
  padding-right: 20px;
}

.titlesItaly span {
  color: #d97c67;
  font-size: 20px;
}

.titlesItaly {
  display: flex;
  position: absolute;
  left: -130px;
  bottom: 173px;
  text-align: left;
  transform: rotate(-90deg);
  font-weight: 400;
}

.titleGroups {
  margin-left: 30px;
}

.titleOasis {
  text-align: center;
  position: relative;
}

.titleOasis img {
  margin-top: 250px;
  width: 300px;
  height: 110px;
}


.madeTitle {
  font-size: 20px;
  color: white;
  position: relative;
  padding-right: 20px;
}

.titleOasis {
  left: -20%;
}

.test {
  position: absolute;
  top: 0;
  right: 10%;
  width: 400px;
  border: 2px solid #282936;
  border-radius: 20px;
}

.Banket {
  color: white;
}

.mainInfo {
  display: flex;
  color: white;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 16px;
}

.left {
  position: relative;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #282936;
  color: white;
  letter-spacing: 0.2rem;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  z-index: 2;
  border: 1px solid white;
  border-radius: 20px;
}

.left:before {
  z-index: 1;
  content: '';
  position: absolute;
  transition: inherit;
  top: 0;
  width: 0;
  height: 100%;
  right: 0;
  border: 3px solid #d97c67;
  border-radius: 20px;
  border-left: 0;
  border-right: 0;
}
.left:after{
  color: #282936;
  z-index: -1;
  content: '';
  position: absolute;
  transition: inherit;
  top: 0;
  width: 0;
  height: 100%;
  left: 0;
}
.left:hover {
  border: 1px solid transparent;
  transition-delay: 0.5s;
  color: #282936;
}

.left:hover:before {
  transition-delay: 0s;
  width: 100%;
}

.left:hover:after {
  border-radius: 20px;
  background: #ffffff;
  transition-delay: .35s;
  width: 100%;
}

.social{
  position: absolute;
  top: 30%;
  right: 20%;
  z-index: 2;
  img{
    width: 50px;
  }
}
.facebook,
.instagram{
  display: flex;
  align-items: center;
  color: white;
  padding-top: 20px;
  p{
    padding-left: 20px;
  }
}



//Mobile css
@media(max-width: 990px) {
  .titlesItaly{
    bottom: 230px;
  }
}
@media(max-width: 880px) {
  .left {
    position: relative;
    padding: 10px 20px;
    font-size: 12px;
  }

}
@media(max-width: 700px) {
.groupsTitle{
  font-size: 16px;
}
  .titlesItaly span{
    font-size: 16px;
  }
  .titlesItaly{
    left: -110px;
    bottom: 210px;
  }
  .madeTitle{
    font-size: 16px;
  }
  .mainInfo {
    display: block;
    color: white;
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
    margin-left: 30px;
  }
  .left {
    display: block;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    width: 45%;
  }

  .social{
    width: 30px;
    display: block;
    position: inherit;
    margin-left: 50px;
  }

  .titleOasis{
    display: block;
    left: 10%;
    img {
      display: block;
      margin-top: 50px;
      width: 220px;
      height: auto;
    }
  }
}
@media(max-width: 530px) {
  .titlesItaly {
    bottom: 230px;
  }
  .mainInfo{
    margin-right: 30px;
  }
  .left{
    width: 100%;
  }
}
