.containerHeader {
    position: absolute;
    width: 70px;
    z-index: 2;
    right: 0 ;
    top: 20%;
    transition: all 1s;
    /*overflow: hidden;*/
}

.menuItem {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.7);
    background-color: #ffff;
    z-index: 100;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    transition: all 1s;
    border-radius: 50%;
}

.menuItem img {
    height: 20px;
    width: 20px;
    color: red;
}

.menuItem:hover {
    background-color: #D97C67;
    -webkit-tap-highlight-color: transparent;
    transition: all 1s;
}


.menuText {
    position: absolute;
    top: 0;
/*display: none;*/
    right: -200px;
    height: 50px;
    width: 100px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: transparent;
    transition: all 1s;
    border-radius: 20px;
    box-shadow: 5px 3px 4px  black;
}

.menuItem:hover .menuText {
    color: #ffffff;
    right: 55px;
    display: block;
    background-color: #D97C67;
    transition: all 1s;
}

.menuItem:hover .containerHeader{
    overflow: visible;
}