.container{
  padding-top: 20px;
  padding-bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 16px;
  background-color: #282936;
  height: 100%;
}
.title{
  padding-top: 30px;
}
.formRegister{
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.wrapper{
  background-color: #282936;
  height: 100%;
}

.titleInfo{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #282936;
}
.inputForm{
  display: grid;
  grid-template-areas: 'a b';
  padding: 20px 70px 20px 70px;
  grid-template-columns: 1fr 1fr;
  input{
    border-radius: 20px;
    width: 100%;
    height: 50px;
    background-color: #cccc;
    border: none;
    outline: none;
    padding-left: 20px;
    &::placeholder {
      color: #898f96;
      outline: none;
    }
  }
}

.inputTitle{
  padding-top: 15px;
}

.registerUser{
  padding-top: 10px;
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 1fr 1fr;
}
.googleSVG{
  width: 45px;
}
.error{
  padding-bottom: 15px;
  padding-top: 15px;
  color: #d97c67;
}
.resetPassword{
  padding-bottom: 30px;
}